<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoile.app.history.mapper.HistoryMapper">
	<!-- 상품들 상세 조회 및 상태별 상품들 상세 조회 -->
	<select id="prodcutList" resultType="ProductVO">
		SELECT product_id,
			   product_name,
			   product_serial,
			   product_brand,
			   product_type,
			   product_price,
			   product_content,
			   product_image,
			   product_status,
			   ppl,
			   product_rental
		  FROM product
		  <where>
		  	<if test="productStatus !=null and productStatus!=''"> product_status = #{productStatus}</if>
		  </where>
		 ORDER BY product_id   
	</select>
	
	<!-- 한 상품에 대한 상세조회 -->
	<select id="productSelect" resultType="ProductVO">
		SELECT product_id,
			   product_name,
			   product_serial,
			   product_brand,
			   product_type,
			   product_price,
			   product_content,
			   product_image,
			   product_status,
			   ppl,
			   product_rental
		  FROM product
		 WHERE product_id = #{productId}
	</select>
	
	<!-- 한 상품에 대한 대여이력 조회 -->
	<select id="rentalList" resultType="RentalVO">
		SELECT rental_id,
			   member_id,
			   product_id,
			   rental_start,
			   rental_end,
			   rental_price,
			   rental_address,
			   rental_pay
		  FROM rental
		 WHERE product_id = #{productId}
	</select>
	
	<!-- 상품 등록 -->
	<insert id="productInsert">
		INSERT INTO product (product_id,
			   				product_name,
			   				product_serial,
			   				product_brand,
			   				product_type,
			   				product_price,
			  				product_content,
			   				product_image,
			   				product_status,
			   				ppl,
			   				product_rental)
					VALUES (#{productId},
							#{productName},
							#{productSerial},
							#{productBrand},
							#{productType},
							#{productPrice},
							#{productContent},
							#{productImage},
							#{productStatus},
							#{ppl},
							#{productRental})
	</insert>
	<!-- 상품 상태 수정 -->
	<update id="productUpdate">
		UPDATE product SET product_status = #{productStatus} 
		             WHRER product_id = #{productId}
	</update>
	
	<!-- 상품에 대한 대여정보 입력 -->
	<insert id="rentalInsert">
		INSERT INTO rental (rental_id,
			   				member_id,
			   				product_id,
			   				rental_start,
			   				rental_end,
			   				rental_price,
			   				rental_address,
			   				rental_pay)
			   		VALUES (#{rentalId},
			   				#{memberId},
			   				#{productId},
			   				#{rentalStart},
			   				#{rentalEnd},
			   				#{rentalPrice},
			   				#{rentalAddress},
			   				#{rentalPay})
	</insert>
	<delete id="productDelete">
		DELETE FROM product WHERE product_id = #{productId}
	</delete>
</mapper>